body{
    font-family:Arial;
    background:#eef2f7;
    margin:0;
}

.wrap{
    max-width:420px;
    margin:auto;
    padding:10px;
    text-align:center;
}

.cover{
    width:100%;
    border-radius:18px;
    box-shadow:0 8px 20px #0003;
}

button{
    padding:10px 16px;
    margin:8px;
    border:none;
    border-radius:12px;
    box-shadow:0 2px 8px #0002;
    font-size:20px;
    font-weight:bold;
}

#play{
    font-size:20px;
}

.jump{
    display:block;
    width:100%;
    margin:0;
    background:#3b7ddd;
    color:#fff;
    font-size:20px;
    font-weight:bold;
}

.active{
    background:#ff8c1a !important;
    color:#fff;
    box-shadow:0 0 12px rgba(255,140,26,.8);
}

input{
    width:100%;
}

#cur,
#dur{
    font-size:18px;
    font-weight:bold;
}

#buttons{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-top:12px;
}